MediaRadarExercise/MediaRadarExercise/Service References/MediaRadar.AdService/AdService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apps.mediaradar.com/AdDataService/AdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdDataService" />
  <xs:element name="GetAdDataByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdDataByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdDataService" minOccurs="0" name="GetAdDataByDateRangeResult" nillable="true" type="q1:ArrayOfAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>